{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear Cápsula{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <form id="capsule_create_form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          {{ form.name }}
          {{ form.father_last_name }}
          {{ form.mother_last_name }}
          {{ form.nickname }}
          <a onclick="getLocation()">Obtener mi ubicación</a>
          {{ form.lat }}
          {{ form.lng }}
          {{ form.upload_most_love_photo }}
          {{ form.upload_first_track_id }}
          {{ form.upload_first_meme_photo }}
          <input type="submit" class="btn btn-primary btn-block mt-3" value="Crear Cápsula">
        </form>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'capsules/js/get_geolocation.js' %}"></script>
{% endblock %}