{% extends 'core/base.html' %}
{% load static %}
{% block title %}Eliminar Cápsula{% endblock %}
{% block content %}
{% include 'capsules/includes/capsule_menu.html'%}
<section class="module-small free-trial">
  <div class="container text-center">
    <form action="" method="post">{% csrf_token %}
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h4 class="font-alt">
            ¿Estás seguro de que quieres eliminar la cápsula <span class="color-golden">"{{ object.nickname }}"</span>?
          </h4>
        </div>
      </div>
      <div>
        <input type="submit" class="btn btn-warning btn-circle" value="Sí, Eliminar Cápsula" />
      </div>
    </form>
  </div>
</section>
{% endblock %}