{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{profile.user}}{% endblock %}
{% block content %}
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-8">
                {% if profile.avatar %}
                  <img src="{{profile.avatar.url}}" alt="{{profile.user}}"/>
                {% else %}
                  <img src="{% static 'registration/img/no-avatar.jpg' %}" alt="{{profile.user}}"/>
                {% endif %}
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="work-details">
                    <br>
                    <h5 class="work-details-title font-alt">Detalles</h5>
                    <ul>
                        <li><strong>Nombre: </strong><span class="font-serif">{{profile.user}}</span>
                        </li>
                        {% if profile.link %}
                          <li><strong>Link: </strong><span class="font-serif"><a href="{{profile.link}}" target="_blank">{{profile.link}}</a></span>
                          </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% if profile.bio %}
              <div class="col-sm-6 col-md-12 col-lg-12">
                  <div class="work-details">
                      <br>
                      <h5 class="work-details-title font-alt">Biografía</h5>
                      <hr class="divider-w mt-10 mb-20">
                      <p>{{profile.bio|safe}}</p>
                  </div>
              </div>
            {% endif %}
        </div>
    </div>
</section>
<hr class="divider-w">
{% endblock %}