{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfiles{% endblock %}
{% block content %}
<!--<style>.profile-avatar{float:left;width:4rem;height:4rem}.profile-data{padding-left:4.5rem;padding-top:.4rem;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h2>Perfiles</h2>
        <div class="row">
          {% for profile in profile_list %}
            <div class="col-md-4 mt-2 mb-3 ">
              <div class="row p-1">
                <div class="col-md-12">
                  {% if profile.avatar %}
                    <img src="{{profile.avatar.url}}" class="img-fluid profile-avatar">
                  {% else %}
                    <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid profile-avatar">
                  {% endif %}
                  <p class="profile-data">
                    <b>{{profile.user|truncatechars:"16"}}</b><br>
                    <a href="{% url 'profiles:detail' profile.user %}">Ver perfil</a>
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if is_paginated %}
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
              {% endif %}
              {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}
      </div>
    </div>
  </div>
</main>-->
<section class="module bg-dark-60 shop-page-header" data-background="{% static 'profiles/assets/images/profile_bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="text-align:center;padding: 0% 0% 5% 0%">
        <img src="{% static 'core/assets/images/complemento_profiles.jpg' %}" width="330" style="border-radius: 100%;border-style: double;border-width: 20px;border-color: black;">
      </div>
      <div class="col-sm-6" style="background-color: rgba(0, 0, 0, 0.9);border: 5px solid white;border-radius: 80px;padding: 25px 25px 25px 25px;">
        <br>
        <h2 class="module-title font-serif" style="font-size:400%;"><b>Cápsulas del Tiempo</b></h2>
        <div class="module-subtitle font-serif" style="text-align:justify;font-size: 17px;">
          &emsp;&emsp;&emsp;En esta sección se listan los participantes que han generado su respectiva cápsula del tiempo, para ver el contenido de cada participante sólo debe ingresar al detalle de su cápsula.
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="divider-w">
<section class="module-small">
  <div class="container">
    <div class="row multi-columns-row">
      {% for profile in profile_list %}
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="shop-item">
          <div class="shop-item-image">
            {% if profile.avatar %}
              <img src="{{profile.avatar.url}}" alt="{{profile.user}}" style="width:500px;height:400px"/>
            {% else %}
              <img src="{% static 'registration/img/no-avatar.jpg' %}" alt="{{profile.user}}" style="width:500px;height:400px"/>
            {% endif %}
            <div class="shop-item-detail">
              <a href="{% url 'profiles:detail' profile.user %}" class="btn btn-round btn-b">
                <span>Ver perfil</span>
              </a>
            </div>
          </div>
          <h4 class="shop-item-title font-alt">
            {% if profile.link %}
              <a href="{{profile.link}}">{{profile.user|truncatechars:"16"}}</a>
            {% else %}
              {{profile.user|truncatechars:"16"}}
            {% endif %}
          </h4>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if is_paginated %}
      <div class="pagination font-alt">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
            <li class="page-item ">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">&laquo;</a>
            </li>
          {% endif %}
          {% for i in paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item ">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">&raquo;</a>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}