{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nosotros{% endblock %}
{% block content %}

<!-- Intro-->
<section class="module bg-dark-60 about-page-header" data-background="{% static 'core/assets/images/about_bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="text-align:center;padding: 0% 0% 5% 0%">
        <img src="{% static 'core/assets/images/complemento.jpg' %}" width="330" style="border-radius: 100%;border-style: double;border-width: 20px;border-color: black;">
      </div>
      <div class="col-sm-6" style="background-color: rgba(0, 0, 0, 0.9);border: 5px solid black;border-radius: 80px;padding: 25px 25px 25px 25px;">
        <br>
        <h2 class="module-title font-serif" style="font-size:400%;"><b>Crear, Mantener y Mejorar...</b></h2>
        <div class="module-subtitle font-serif" style="font-size:200%;">Desarrollo tecnológico a lo largo del país.</div>
      </div>
    </div>
  </div>
</section>
<hr class="divider-d">
<!-- Compañía-->
<section class="module pt-0 pb-0" id="about">
    <div class="row position-relative m-0">
      <div class="col-xs-12 col-md-6 side-image" data-background="{% static 'core/assets/images/section-14.jpg' %}" style="border-style: solid;border-width: 1px;"></div>
      <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
        <div class="row">
          <div class="col-sm-12" style="text-align: justify;font-size: 14px;">
            <h1 class="module-title font-alt align-center"><b>IoT Chile Company</b></h1>
            <p>
              &emsp;&emsp;&emsp;<b>Tomás Lazo</b> técnico titulado en telecomunicaciones y redes de la USM comienza su trayectoria en la educación participando como co-docente 
              en el laboratorio de la sede Jose Miguel Carrera, en las materias correspondientes a corriente continua, corriente alterna, sistemas digitales 
              y electrónica general descubriendo así sus habilidades para ayudar a los demás en completar sus objetivos académicos.
            </p>
            <p>
              &emsp;&emsp;&emsp;Ese mismo año obtiene el mérito académico 2015 y se le reconoce como presidente de su carrera por sus pares, luego en los próximos años dedicaría 
              su tiempo en aprender y mejorar sus habilidades acercandose al grupo de profesionales docentes de la USM (sede Jose Miguel Carrera), más tarde, al 
              terminar su trabajo de título basado en el uso de microcontroladores y programación explota su fascinación por el mundo digital y el fenómeno IOT 
              presente a nivel mundial y es llamado por una empresa externa para servir como eje principal en el desarrollo de actividades relacionadas con la 
              educación en establecimientos gubernamentales y particulares.
            </p>
            <p>
              &emsp;&emsp;&emsp;En el camino educativo se encontró con fracasos y éxitos al intentar impartir electrónica y programación en niños de todas las edades, 
              esto desembocó en la necesidad de establecer una plataforma educativa adecuada para estas necesidades, lo cual era técnicamente imposible, ya que no estaba 
              capacitado para desarrollar un software de administración y educación, sin embargo, logró contactar con su amigo de infancia <b>Jorge Montiel</b> quien se encontraba 
              finalizando sus estudios como Ingeniero Civil Informático de la PUCV, Jorge poseía todas las cualidades faltantes para completar el rompecabezas, ya que 
              había refinado sus habilidades ingenieriles a lo largo de su trayectoria en la universidad, demostrando una gran capacidad para idear sistemas de control 
              y gestión.
            </p>
            <p>
              &emsp;&emsp;&emsp;En los próximos meses se dedicarían a discutir la visión con respecto a las tecnologías en el país, ya sea aplicada en hogares como también 
              a nivel educacional en establecimientos, esto condujo a la incursión en el mundo de los microcontroladores IoT y la domótica en general. Más tarde, al 
              producir los primeros prototipos se encontraron con múltiples obstáculos, muchos de los cuales fueron de carácter administrativo y técnicos. Finalmente, para 
              solventar muchos de estos problemas se percataron de que debían conformar una identidad con un equipo de confianza, el cual tuviese visión y perseverancia para lograr 
              los objetivos tando a corto como largo plazo, es asi como nace <b>IOT CHILE CO.</b>, compañia conformada por profesionales capacitados en el área de la informática,
              las redes y la electrónica, todos comprometidos con el desarrollo tecnológico y la educación a lo largo del país.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
<hr class="divider-d">
<!-- Visión & Misión-->
<section class="module bg-dark-60" style="background: #000000;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="module-title font-alt">Visión</h2>
        <div class="module-subtitle font-serif" style="font-size:200%;text-align: justify;">
          &emsp;&emsp;&emsp;Crear, mantener y mejorar una plataforma adecuada de investigación que potencie 
          la experimentación y el desarrollo tecnológico a lo largo del país.
        </div>
      </div>
      <span style="display:block; height: 80px;"></span>
      <div class="col-sm-6">
        <h2 class="module-title font-alt">Misión</h2>
        <div class="module-subtitle font-serif" style="font-size:200%;text-align: justify;">
          &emsp;&emsp;&emsp;Iniciar un modelo básico de investigación y educación basado en programación y 
          electrónica, la cual enlace hogares e instituciones interesadas en el desarrollo tecnológico del país. 
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="divider-d">
<!-- Equipo-->
<section class="module" id="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt"><b>Nuestro Equipo</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-6">
        <div class="team-item">
          <div class="team-image"><img src="{% static 'core/assets/images/team-1.jpg' %}" alt="Tomas"/>
            <div class="team-detail">
              <h2 class="font-alt">Hola a todos !!</h2>
              <p class="font-serif" style="font-size: 20px;">Soy un profesional del área de las telecomunicaciones entusiasmado con el prototipado de proyectos IoT y de robótica en general.</p>
              <div class="team-social">
                <a href="https://www.linkedin.com/in/tom%C3%A1s-andr%C3%A9s-lazo-lazo-a84a1b170/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="https://twitter.com/TomsLazo3" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fa fa-envelope-o fa-3x"></i></a>
              </div>
            </div>
          </div>
          <div class="team-descr font-alt">
            <div class="team-name" style="font-size: 30px;"><b>Tomás Lazo Lazo</b></div>
            <div class="team-name" style="font-size: 25px;text-transform: capitalize;"><b>Técnico Telecomunicaciones</b></div>
            <div class="team-role" style="font-size: 20px;text-transform: capitalize;"><b>Desarrollo & Mantención Electrónica</b></div>
          </div>
        </div>
      </div>
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-6">
        <div class="team-item">
          <div class="team-image"><img src="{% static 'core/assets/images/team-2.jpg' %}" alt="Jorge"/>
            <div class="team-detail">
              <h2 class="font-alt">Buenas !!</h2>
              <p class="font-serif" style="font-size: 20px;">En mi caso soy una persona apasionada por el desarrollo de tecnología IoT y el procesamiento de datos asociado a ésta.</p>
              <div class="team-social">
                <a href="https://www.linkedin.com/in/jorge-montiel-montiel/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="https://twitter.com/JorgeMontiel01" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fa fa-envelope-o fa-3x"></i></a>
              </div>
            </div>
          </div>
          <div class="team-descr font-alt">
            <div class="team-name" style="font-size: 30px;"><b>Jorge Montiel Montiel</b></div>
            <div class="team-name" style="font-size: 25px;text-transform: capitalize;"><b>Ingeniero Civil Informático</b></div>
            <div class="team-role" style="font-size: 20px;text-transform: capitalize;"><b>Dirección de Proyectos & Finanzas</b></div>
          </div>
        </div>
      </div>
      <!--
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4">
        <div class="team-item">
          <div class="team-image"><img src="{% static 'core/assets/images/team-3.jpg' %}" alt="Carlos"/>
            <div class="team-detail">
              <h5 class="font-alt">Hello !!</h5>
              <p class="font-serif">Uno de mis principales intereses es el desarrollo de tecnología en las áreas de electrónica y robótica.</p>
              <div class="team-social">
                <a href="https://www.linkedin.com/in/carlos-alberto-brignardello-c-360a12170/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="https://twitter.com/brignardello_c"><i class="fa fa-twitter fa-3x" target="_blank"></i></a>
                <a href="#" target="_blank"><i class="fa fa-envelope-o fa-3x"></i></a>
              </div>
            </div>
          </div>
          <div class="team-descr font-alt">
            <div class="team-name">Carlos Brignardello</div>
            <div class="team-role">Marketing & Comunicación Audiovisual</div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
<hr class="divider-d">
<!-- Ubicación1-->
<section id="map-section">
  <div id="googleMap" style="width:100%;height:500px;"></div>
</section>

{% endblock %}