{% extends 'core/base.html' %}
{% load static %}
{% block title %}Nosotros{% endblock %}
{% block content %}
<!-- Intro-->
<section class="module bg-dark-60 about-page-header" data-background="{% static 'core/assets/images/about_bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="text-align:center;padding: 0% 0% 5% 0%">
        <img src="{% static 'core/assets/images/complemento_about&profiles&login.jpg' %}" width="330" style="border-radius: 100%;border-style: double;border-width: 20px;border-color: black;">
      </div>
      <div class="col-sm-6" style="background-color: rgba(0, 0, 0, 0.9);border: 5px solid white;border-radius: 80px;padding: 25px 25px 25px 25px;">
        <br>
        <h2 class="module-title font-serif" style="font-size:200%;">La <b>Distancia Social</b> sólo funcionará si todos participamos<br><br> <b>Ayudemos</b> a disminuir y prevenir la propagación del virus para <b>salvar vidas</b>.</h2>
      </div>
    </div>
  </div>
</section>
<hr class="divider-d">
<!-- Compañía-->
<section class="module pt-0 pb-0" id="about">
    <div class="row position-relative m-0">
      <div class="col-xs-12 col-md-6 side-image" data-background="{% static 'core/assets/images/section-14.jpg' %}" style="border-style: solid;border-width: 1px;"></div>
      <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
        <div class="row">
          <div class="col-sm-12" style="text-align: justify;font-size: 14px;">
            <h1 class="module-title font-alt align-center" style="text-transform:none;"><b>¿ Qué es la Distancia Social ?</b></h1>
            <p>
              &emsp;&emsp;&emsp;La <b>Distancia Social</b> o <b>distanciamiento social</b>, es una herramienta que los funcionarios de la salud pública 
              recomiendan para disminuir la propagación de una enfermedad que se transmite de persona a persona. Explicado de manera sencilla, significa que los 
              individuos tienen que mantenerse suficientemente lejos los unos de los otros para que el coronavirus o cualquier otro patógeno no se expanda.
            </p>
            <p>
              &emsp;&emsp;&emsp;Según la descripción de los Centros para el Control y la Prevención de Enfermedades, la distancia social consiste en evitar las multitudes 
              y mantener una distancia de dos metros con otras personas. Por ejemplo, teatros y cines han cerrado temporalmente, se han cancelado muchas 
              convenciones en todo el mundo y los colegios están cerrando. La gente ahora tiende a dejar de tomar el tren en hora punta, trabaja desde 
              casa o viaja en su auto para poder mantener la distancia con los demás.
            </p>
            <p>
              &emsp;&emsp;&emsp;La <b>Distancia Social</b> también implica no tocar a otras personas y eso incluye los apretones de manos, abrazos y formas de saludos 
              cotidianos que solíamos tener, ya que el contacto físico es la vía de contagio más probable y la forma más fácil de expandir la enfermedad. Sin embargo, 
              la distancia social no puede prevenir el 100 % de los contagios, pero siguiendo estas simples reglas los individuos pueden jugar un rol crítico en 
              disminuir la propagación de dichas enfermedades. <b>Si el número de casos no se mantiene por debajo de lo que el sistema de salud puede gestionar 
              (lo que conocemos como frenar la curva)</b>, los recintos hospitalarios pueden verse sobrepasados, por ende esto deriva en un problema para la capacidad 
              de atención teniendo como consecuencia muertes innecesarias.
            </p>
            <img src="{% static 'core/assets/images/Flatten_the_curve1.gif' %}" alt="Single Product Image">
            <p>
              &emsp;&emsp;&emsp;Además de la <b>Distancia Social</b>, existen conceptos tales como <b>“autocuarentena”</b>, que significa aislarse de otros porque existe una 
              posibilidad razonable de que haya estado en contacto con una persona con el virus, o también <b>“cuarentena obligatoria”</b>, esto ocurre cuando las autoridades 
              gubernamentales indican a un ciudadano que debe permanecer en un lugar, por ejemplo, su casa, durante 14 días. Para casos personales, las cuarentenas obligatorias 
              pueden ordenarse en el caso de individuos que han dado negativo en el test del coronavirus, pero que probablemente se han expuesto al patógeno.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
<hr class="divider-d">
<!-- Visión & Misión-->
<section class="module bg-dark-60" style="background: #000000;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="module-title font-alt" style="text-transform:none;">¿ Por qué funciona la <b>Distancia Social</b> ?</h2>
        <div class="module-subtitle font-serif" style="font-size:150%;text-align: justify;">
          <p>
            &emsp;&emsp;&emsp;Si se hace de una manera correcta y a gran escala, la distancia social rompe o disminuye la cadena de transmisión. Las personas 
            pueden transmitir el coronavirus desde al menos cinco días antes de mostrar síntomas. La distancia social limita el número de individuos con los 
            que un infectado tiene contacto (y a los que potencialmente puede contagiar) aún antes de darse cuenta de que tiene el virus.
          </p>
          <p>
            &emsp;&emsp;&emsp;Es muy importante tomarnos en serio la posibilidad de habernos expuesto al virus y hacer la correspondiente cuarentena si es que fuese el caso. 
            De acuerdo a una investigación publicada recientemente, la cuarentena individual debe durar 14 días para cubrir el periodo de tiempo durante el 
            cual pueden presentarse síntomas de <b>COVID-19</b>, la enfermedad causada por el coronavirus. Si después de dos semanas la persona no tiene síntomas, 
            entonces es razonable terminar el aislamiento. La cuarentena se podrá acortar, en el caso de individuos asintomáticos, en la medida que haya tests disponibles 
            para descartar el virus.
          </p>
        </div>
      </div>
      <div class="col-sm-12">
        <h2 class="module-title font-alt" style="text-transform:none;">¿ Por qué la <b>Distancia Social</b> es tan importante ?</h2>
        <div class="module-subtitle font-serif" style="font-size:150%;text-align: justify;">
          <p>
            &emsp;&emsp;&emsp;Actualmente es la única herramienta que tenemos disponible para luchar contra el coronavirus y los expertos estiman que una vacuna podría 
            tardar entre 12 y 18 meses. Por otro lado, actualmente no hay medicamentos disponibles que puedan ralentizar la infección por coronavirus. Sin forma de conseguir 
            que los enfermos mejoren o conseguir que sean menos contagiosos, la única estrategia efectiva es asegurarnos de tener una cobertura hospitalaria disponible para 
            aquellos que la necesiten. La manera de lograrlo es disminuir o detener la proliferación del virus y reducir el número de casos.
          </p>
        </div>
      </div>
      <div class="col-sm-12">
        <h2 class="module-title font-alt" style="text-transform:none;">¿ Quién debería cumplirla ?</h2>
        <div class="module-subtitle font-serif" style="font-size:150%;text-align: justify;">
          <p>
            &emsp;&emsp;&emsp;Todos debemos mantener la distancia social para prevenir una gran ola de casos, ya que los más vulnerables son los ancianos. Por supuesto, 
            los mayores deben hacer todo lo posible para protegerse, practicando la distancia social diligentemente y cambiando sus costumbres hasta que la pandemia pase. 
            Por otro lado, las personas menos vulnerables tienen que hacer todo lo posible para proteger a aquellos que sí lo son, ayudando a disminuir su exposición al 
            <b>COVID-19</b> ya que si los ciudadanos, como un todo, se toman la distancia social en serio, se puede evitar la sobrecarga del sistema de salud. Finalmente, 
            la evolución de la enfermedad dependerá en gran medida de estas acciones individuales.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="divider-d">
<!-- Equipo-->
<section class="module" id="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt" style="text-transform:none;"><b>CEO - Desarrollador</b></h2>
      </div>
    </div>
    <div class="row">
      <!-- 
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-6">
        <div class="team-item">
          <div class="team-image"><img src="{% static 'core/assets/images/team-1.jpg' %}" alt="Tomas"/>
            <div class="team-detail">
              <h2 class="font-alt">Hola a todos !!</h2>
              <p class="font-serif" style="font-size: 20px;">Soy un profesional del área de las telecomunicaciones entusiasmado con el prototipado de proyectos IoT y de robótica en general.</p>
              <div class="team-social">
                <a href="https://www.linkedin.com/in/tom%C3%A1s-andr%C3%A9s-lazo-lazo-a84a1b170/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="https://twitter.com/TomsLazo3" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fa fa-envelope-o fa-3x"></i></a>
              </div>
            </div>
          </div>
          <div class="team-descr font-alt">
            <div class="team-name" style="font-size: 30px;"><b>Tomás Lazo Lazo</b></div>
            <div class="team-name" style="font-size: 25px;text-transform: capitalize;"><b>Técnico Telecomunicaciones</b></div>
            <div class="team-role" style="font-size: 20px;text-transform: capitalize;"><b>Desarrollo & Mantención Electrónica</b></div>
          </div>
        </div>
      </div> 
      -->
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-sm-offset-3">
        <div class="team-item">
          <div class="team-image"><img src="{% static 'core/assets/images/team-2.jpg' %}" alt="Jorge"/>
            <div class="team-detail">
              <h2 class="font-alt">Saludos cordiales !!</h2>
              <p class="font-serif" style="font-size: 20px;">En mi caso soy una persona apasionada por el desarrollo de tecnología IoT y el procesamiento de datos asociado a ésta.</p>
              <div class="team-social">
                <a href="https://www.linkedin.com/in/jorge-montiel-montiel/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="https://twitter.com/JorgeMontiel01" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fa fa-envelope-o fa-3x"></i></a>
              </div>
            </div>
          </div>
          <div class="team-descr font-alt">
            <div class="team-name" style="font-size: 30px;"><b>Jorge Montiel Montiel</b></div>
            <div class="team-name" style="font-size: 25px;text-transform: capitalize;"><b>Ingeniero Civil en Informática (PUCV)</b></div>
            <div class="team-role" style="font-size: 20px;text-transform: capitalize;"><b>CEO & Desarrollador</b></div>
          </div>
        </div>
      </div>
      <!--
      <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4">
        <div class="team-item">
          <div class="team-image"><img src="{% static 'core/assets/images/team-3.jpg' %}" alt="Carlos"/>
            <div class="team-detail">
              <h5 class="font-alt">Hello !!</h5>
              <p class="font-serif">Uno de mis principales intereses es el desarrollo de tecnología en las áreas de electrónica y robótica.</p>
              <div class="team-social">
                <a href="https://www.linkedin.com/in/carlos-alberto-brignardello-c-360a12170/" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
                <a href="https://twitter.com/brignardello_c"><i class="fa fa-twitter fa-3x" target="_blank"></i></a>
                <a href="#" target="_blank"><i class="fa fa-envelope-o fa-3x"></i></a>
              </div>
            </div>
          </div>
          <div class="team-descr font-alt">
            <div class="team-name">Carlos Brignardello</div>
            <div class="team-role">Marketing & Comunicación Audiovisual</div>
          </div>
        </div>
      </div>
      -->
    </div>
  </div>
</section>
<hr class="divider-d">
<!-- Ubicación1-->
<section id="map-section">
  <div id="googleMap" style="width:100%;height:500px;"></div>
</section>
{% endblock %}