{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}

<!-- Home & Categorías-->
<hr class="divider-d">
<section class="home-section home-fade home-full-height" id="home" style="background-image:url({% static 'core/assets/images/background_santiago.jfif' %});">
<div class="foreground">
</div>
<div class="midground">
<div class="tuna">
</div>
</div>
<div class="background">
</div>
</section>

{% comment %} <hr class="divider-d">
<div id="soundcloud_widget" ng-bind-html="soundCloudWidget">
<iframe src="https://w.soundcloud.com/player/?visual=false&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F310215586&amp;show_artwork=true&amp;auto_play=true&amp;show_comments=false&amp;" style="border: 0; width: 100%; height: 166px;" allowfullscreen allow="encrypted-media">
</iframe>
</div> {% endcomment %}
{% comment %} <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/52032551&color=%235c5757&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
</iframe>
<div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
<a href="https://soundcloud.com/bearmachine" title="bearmachine" target="_blank" style="color: #cccccc; text-decoration: none;">
bearmachine
</a> 
· 
<a href="https://soundcloud.com/bearmachine/radical-face-always-gold" title="Radical Face - Always Gold" target="_blank" style="color: #cccccc; text-decoration: none;">
Radical Face - Always Gold
</a>
</div> {% endcomment %}

<iframe width=100% height=100% src="https://www.youtube.com/embed/vqc2uOunPdA?autoplay=1&amp;controls=0&amp;start=274" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<hr class="divider-d">
<section class="home-section home-fade home-full-height" id="home">
{{map|safe}}
</section>

<hr class="divider-d">
<section class="home-section home-fade home-full-height" id="home">
  <div class="hero-slider">
    {% if idcategoryaux %}
      <ul class="slides">
        {% for category in category_list %}
          {% if category.id == idcategoryaux %}
            <li class="bg-dark-30 bg-dark" style="background-image:url({{category.image.url}});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div style="background-color: rgba(0, 0, 0, 0.9);border-bottom: 8px double white;border-top: 8px double white;padding: 5px 0px 5px 0px;">
                    <div class="font-alt mb-40 titan-title-size-4" style="letter-spacing: 2.5px;">
                      {{category.name}}
                    </div>
                    <div class="mb-30 titan-title-size-1">
                      <div style="margin: 0% 10% 0% 10%;letter-spacing: 0.5px;">
                        {{category.content|safe}}
                      </div>
                    </div>
                    <a class="section-scroll btn btn-w btn-circle" href="{% url 'courses' category.id %}#filter_section">
                      <i class="fa fa-cog fa-spin"></i>&nbsp;<b style="letter-spacing: 0.5px;">Ver proyectos de {{category.name}}</b>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
        {% for category in category_list %}
          {% if category.id != idcategoryaux %}
            <li class="bg-dark-30 bg-dark" style="background-image:url({{category.image.url}});">
              <div class="titan-caption">
                <div class="caption-content">
                  <div style="background-color: rgba(0, 0, 0, 0.9);border-bottom: 8px double white;border-top: 8px double white;padding: 5px 0px 5px 0px;">
                    <div class="font-alt mb-40 titan-title-size-4" style="letter-spacing: 2.5px;">
                      {{category.name}}
                    </div>
                    <div class="mb-30 titan-title-size-1">
                      <div style="margin: 0% 10% 0% 10%;letter-spacing: 0.5px;">
                        {{category.content|safe}}
                      </div>
                    </div>
                    <a class="section-scroll btn btn-w btn-circle" href="{% url 'courses' category.id %}#filter_section">
                      <i class="fa fa-cog fa-spin"></i>&nbsp;<b style="letter-spacing: 0.5px;">Ver proyectos de {{category.name}}</b>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
        <li class="bg-dark-30 bg-dark" style="background-image:url({% static 'core/assets/images/agency/agency_bg.jpg' %});">
          <div class="titan-caption">
            <div class="caption-content">
              <div style="background-color: rgba(255, 255, 255, 0.7);border-bottom: 12px double black;border-top: 12px double black;padding: 5px 0px 5px 0px;">
                <div class="font-alt mb-40 titan-title-size-4" style="letter-spacing: 2.5px;color:black;">
                    <b>Saludos Cordiales!!!</b>
                  </div>
                  <div class="mb-30 titan-title-size-1">
                    <div style="margin: 0% 10% 0% 10%;color:black;">
                      <p style="text-align:justify;letter-spacing: 0.5px;">
                        <b>
                          &nbsp;&nbsp;&nbsp;&nbsp;Esperando que este bien la empresa IOT CHILE CO le desea un buen día, Esperando que este bien la empresa 
                          IOT CHILE CO le desea un buen día, Esperando que este bien la empresa IOT CHILE CO le desea un buen día...
                        </b>
                      </p>
                    </div>
                  </div>
                  <a class="section-scroll btn btn-d btn-circle btn-lg" href="{% url 'courses' %}">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;<b style="letter-spacing: 0.5px;">Ver todos nuestros proyectos</b>
                  </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    {% else %}
      <ul class="slides">
        <li class="bg-dark-30 bg-dark" style="background-image:url({% static 'core/assets/images/agency/agency_bg.jpg' %});">
          <div class="titan-caption">
            <div class="caption-content">
              <div style="background-color: rgba(255, 255, 255, 0.7);border-bottom: 12px double black;border-top: 12px double black;padding: 5px 0px 5px 0px;">
                <div class="font-alt mb-40 titan-title-size-4" style="letter-spacing: 2.5px;color:black;">
                    <b>Saludos Cordiales!!!</b>
                  </div>
                  <div class="mb-30 titan-title-size-1">
                    <div style="margin: 0% 10% 0% 10%;color:black;">
                      <p style="text-align:justify;letter-spacing: 0.5px;">
                        <b>
                          &nbsp;&nbsp;&nbsp;&nbsp;Esperando que este bien la empresa IOT CHILE CO le desea un buen día, Esperando que este bien la empresa 
                          IOT CHILE CO le desea un buen día, Esperando que este bien la empresa IOT CHILE CO le desea un buen día...
                        </b>
                      </p>
                    </div>
                  </div>
                  <a class="section-scroll btn btn-d btn-circle btn-lg" href="{% url 'courses' %}">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;<b style="letter-spacing: 0.5px;">Ver todos nuestros proyectos</b>
                  </a>
              </div>
            </div>
          </div>
        </li>
        {% for category in category_list %}
          <li class="bg-dark-30 bg-dark" style="background-image:url({{category.image.url}});">
            <div class="titan-caption">
              <div class="caption-content">
                <div style="background-color: rgba(0, 0, 0, 0.9);border-bottom: 8px double white;border-top: 8px double white;padding: 5px 0px 5px 0px;">
                  <div class="font-alt mb-40 titan-title-size-4" style="letter-spacing: 2.5px;">
                    {{category.name}}
                  </div>
                  <div class="mb-30 titan-title-size-1">
                    <div style="margin: 0% 10% 0% 10%;letter-spacing: 0.5px;">
                      {{category.content|safe}}
                    </div>
                  </div>
                  <a class="section-scroll btn btn-w btn-circle" href="{% url 'courses' category.id %}#filter_section">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;<b style="letter-spacing: 0.5px;">Ver proyectos de {{category.name}}</b>
                  </a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>

<!-- Category Carousel-->
{% if flag_section %}
  <hr class="divider-d">
  <section class="module-small bg-dark p-0">
    <div class="container">
      <div class="row client">
        {% if flag_amount %}
          <div class="owl-carousel text-center" data-items="{{categories_amount}}" data-pagination="false" data-navigation="false">
        {% else %}
          <div class="owl-carousel text-center" data-items="{{categories_amount}}" data-pagination="false" data-navigation="false">
        {% endif %}
          {% for category in category_list %}
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo">
                  <a href="{% url 'home' category.id %}" style="text-transform:uppercase;">
                    <img src="{{category.image.url}}" alt="{{category.name}}"/>
                    {{category.name}}
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% endblock %}