{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link href="{% static 'pages/css/custom_ckeditor.css' %}" rel="stylesheet">
{% if request.user.is_staff %}
<section class="module-medium" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt">Administrar Páginas</h2>
        <div class="text-center">
          <div class="text-center btn-group">
            <a class="btn btn-border-d btn-circle" href="{% url 'pages:pages' %}">Lista páginas</a>
            <a class="btn btn-border-d btn-circle" href="{% url 'pages:create' %}">Crear página</a>
            <a class="btn btn-border-d btn-circle" href="{% url 'pages:video_create' %}">Crear video</a>
            <a class="btn btn-border-d btn-circle" href="{% url 'pages:image_create' %}">Crear imágen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}