{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html' %}
{% comment %} <section class="module-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="post">
          <div class="post-header font-alt">
            <h1 class="post-title">{{page.title}}</h1>
          </div>
          <div class="post-entry">
            {{page.content|safe}}
            {% if request.user.is_staff %}
              <p><a class="more-link" href="{% url 'pages:update' page.id %}">Editar</a></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}
<section class="home-section home-fade home-full-height" id="home">
  <iframe id="encoder_iframe" class='col-md-10 col-md-offset-1' height=80% width=100% src="{% url 'pages:newspaper_display' page.id page.title|slugify %}">
  </iframe>
</section>
{% endblock %}