{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html' %}
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% for page in page_list|dictsort:"id" reversed %}
          <div class="post">
            <div class="post-header font-alt" style="text-transform:none;">
              <h2 class="post-title" >
                Título: {{page.title}} <br>
                Tag principal: {{page.tag}} <br>
                Número de prioridad: N° {{page.order}}
              </h2>
            </div>
            <div class="post-entry">
              {% if page.summary %}
                <p>{{page.summary|striptags|safe|truncatechars:"1000"}}</p>
              {% else %}
                <p>Esta página no tiene resumen.</p>
              {% endif %}
            </div>
            <div class="post-more">
              <a class="more-link" href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
              {% if request.user.is_staff %}
                | <a class="more-link" href="{% url 'pages:update' page.id %}">Actualizar Página</a>
                  {% if page.video.all %}
                    | <a class="more-link" href="{% url 'pages:videos' page.id %}">Actualizar Videos</a>
                  {% endif %}
                  {% if page.image.all %}
                    | <a class="more-link" href="{% url 'pages:images' page.id %}">Actualizar Imágenes</a>
                  {% endif %}
                | <a class="more-link" href="{% url 'pages:delete' page.id %}">Borrar Página</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        {% if is_paginated %}
          <div class="pagination font-alt">
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
              {% endif %}
              {% for i in paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}