{% extends 'core/base.html' %}
{% load static %}
{% block title %}Servicios{% endblock %}
{% block content %}

<!-- Servicios-->
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for service in service_list %}
                    <div class="post">
                        <div class="post-header font-alt" style="background-color: rgba(0, 0, 0, 0.94);border: 5px double white;padding: 5px 5px 5px 5px;">
                            <h1 style="text-align:center">{{service.title}}</h1>
                            <div class="post-meta">
                                <h2 style="text-align:center;">{{service.subtitle}}</h2>
                            </div>
                        </div>
                        {% if not service.image1 and not service.image2 and not service.image3 and not service.link %}
                            <div class="post-thumbnail">
                                <img src="{% static 'services/assets/images/fondo-default-services.jpg' %}" alt="Blog-post Thumbnail"/>
                            </div>
                        {% elif not service.image1 and not service.image2 and not service.image3 and service.link %}
                            <div class="post-video embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{service.link}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        {% elif service.image1 or service.image2 or service.image3 %}
                            {% if service.link %}
                                <div class="post-images-slider">
                                    <ul class="slides">
                                        {% if service.image1 %}
                                            <li><img src="{{service.image1.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                        {% if service.image2 %}
                                            <li><img src="{{service.image2.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                        {% if service.image3 %}
                                            <li><img src="{{service.image3.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="post-video embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{service.link}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                </div>
                            {% else %}
                                <div class="post-images-slider">
                                    <ul class="slides">
                                        {% if service.image1 %}
                                            <li><img src="{{service.image1.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                        {% if service.image2 %}
                                            <li><img src="{{service.image2.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                        {% if service.image3 %}    
                                            <li><img src="{{service.image3.url}}" alt="Blog Slider Image"/></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="post-entry">
                            <p>{{service.content|safe}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<hr class="divider-w">
<!-- Precios
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Nuestros Precios</h2>
                <div class="module-subtitle font-serif">Los siguientes precios .</div>
                <div class="module-subtitle font-selft">Los siguientes precios .</div>
                <div class="module-subtitle font-selft">Los siguientes precios .</div>
            </div>
        </div>
        <div class="row multi-columns-row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="price-table font-alt">
                    <h4>Particular</h4>
                    <div class="borderline"></div>
                    <p class="price"><span>$</span>80.000
                    </p>
                    <ul class="price-details">
                        <li>Free Support</li>
                        <li>15 Demos Included</li>
                        <li><span>Newsletter</span></li>
                        <li><span>Working Contact Form</span></li>
                        <li><span>Unlimited Domains</span></li>
                    </ul><a class="btn btn-d btn-round" href="#">Sign Up</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="price-table font-alt">
                    <h4>Establecimiento</h4>
                    <div class="borderline"></div>
                    <p class="price"><span>$</span>200.000
                    </p>
                    <ul class="price-details">
                        <li>Free Support</li>
                        <li>15 Demos Included</li>
                        <li>Newsletter</li>
                        <li><span>Working Contact Form</span></li>
                        <li><span>Unlimited Domains</span></li>
                    </ul><a class="btn btn-d btn-round" href="#">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-sm-6 col-sm-offset-3 align-center">
                <p>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.</p>
            </div>
        </div>
    </div>
</section>
<hr class="divider-d"> -->
<!-- Asociados-->
{% if hidd %}
    <section class="module bg-light" style="background: #000000;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt" style="color:white">Nuestros Socios y Clientes</h2>
                    <div class="module-subtitle font-serif" style="color:white">
                        “Observa, escucha y aprende. No puedes saberlo todo. Todo el que piensa que lo sabe todo está destinado a la mediocridad” - Donald Trump, presidente de The Trump Organization.
                    </div>
                </div>
            </div>
            <div class="row client">
                <div class="owl-carousel text-center" data-items="5" data-pagination="true" data-navigation="false">
                    {% for associated in associated_list %}
                        <div class="owl-item">
                            <div class="col-sm-12">
                                <div class="client-logo">
                                    <img src="{{associated.logo.url}}" alt="{{associated.title}}"/>
                                </div>
                                <br>
                                <p style="font-size:13px;color:white">{{associated.title}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-d">
{% endif %}
<!-- Ubicación2
<section id="map-section">
    <div id="googleMap2" style="width:100%;height:500px;"></div> 
</section>
<hr class="divider-d">-->

{% endblock %}