{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
{% comment %} <main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Cambio de contraseña</h3>
            <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
            {{form.old_password.errors}}
            <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua" style="text-transform:none"></p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva" style="text-transform:none"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)" style="text-transform:none"></p>
            <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
        </form>
      </div>
    </div>
  </div>
</main> {% endcomment %}
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Actualizar Mi Contraseña</h4>
        <hr class="divider-d mb-10">
        <form action="" method="post">{% csrf_token %}
          <div class="form-group text-center" style="font-size:140%;">
            <p>¿Quiere actualizar su contraseña? Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
            {{form.old_password.errors}}
            <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua" style="text-transform:none"></p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva" style="text-transform:none"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)" style="text-transform:none"></p>
          </div>
          <div class="form-group">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Actualizar Contraseña <i class="fa fa-cog fa-spin"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}