{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña enviado{% endblock %}
{% block content %}
{% comment %} <main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h3 class="mb-4">Restablecimiento de contraseña enviado</h3>
        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>
        <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
      </div>
    </div>
  </div>
</main> {% endcomment %}
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Restablecimiento de contraseña enviado</h4>
        <hr class="divider-d mb-10">
        <div class="form-group text-center" style="font-size:140%;">
          <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó debería recibirlas en breve.</p>
          <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su spam.</p>
          <p>Si quieres volver al Inicio hace clic <a href="{% url 'home' %}">aquí</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}