{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Restablecer Mi Contraseña</h4>
        <hr class="divider-d mb-10">
        <form action="" method="post">{% csrf_token %}
          <div class="form-group text-center" style="font-size:140%;">
            <p>¿Ha olvidado su contraseña? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer a una nueva.</p>
            {{ form.email.errors }}
            <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email" style="text-transform:none"/></p>
          </div>
          <div class="form-group">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Restablecer Contraseña <i class="fa fa-cog fa-spin"></i>
            </button>
          </div>
        </form>
        <div class="form-group">
          <a href="{% url 'login' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Volver al Acceso <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}