{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña enviado{% endblock %}
{% block content %}
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Restablecimiento de contraseña enviado</h4>
        <hr class="divider-d mb-10">
        <div class="form-group text-center" style="font-size:140%;">
          <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó debería recibirlas en breve.</p>
          <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su spam.</p>
        </div>
        <div class="form-group">
          <a href="{% url 'home' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Ir al Inicio <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
        <div class="form-group">
          <a href="{% url 'login' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Ir al Acceso <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}