{% extends 'core/base.html' %}
{% load static %}
{% block title %}Email{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Actualizar Mi Email</h4>
        <hr class="divider-d mb-10">
        <form class="form" action="" method="post">{% csrf_token %}
          <div class="form-group text-center" style="font-size:140%;">
            <p>¿Quieres cambiar tu email? Actualice su email a continuación.</p>
            {{ form.as_p }}
          </div>
          <div class="form-group">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Actualizar Email <i class="fa fa-cog fa-spin"></i>
            </button>
          </div>
        </form>
        <div class="form-group">
          <a href="{% url 'profile' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Volver <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}