{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<section id="profile_menu" class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Mi Perfil</h4>
        {% if object.agreement == 1 and object.capsule %}
          <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Privilegios Fase 3</h4>
        {% elif object.agreement == 1 %}
          <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Privilegios Fase 2</h4>
        {% else %}
          <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Privilegios Fase 1</h4>
        {% endif %}
        <hr class="divider-d mb-10">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            {% if 'ok' in request.GET %}
              <div class="alert alert-success text-center" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">
                  &times;
                </button>
                <i class="fa fa-coffee"></i>
                <strong>Has actualizado exitosamente tu perfil!</strong>
              </div>
            {% elif 'okCapsuleCreate' in request.GET %}
              <div class="alert alert-success text-center" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">
                  &times;
                </button>
                <i class="fa fa-coffee"></i>
                <strong>Has creado exitosamente tu cápsula!</strong>
              </div>
            {% elif 'okCapsuleUpdate' in request.GET %}
              <div class="alert alert-success text-center" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">
                  &times;
                </button>
                <i class="fa fa-coffee"></i>
                <strong>Has actualizado exitosamente tu cápsula!</strong>
              </div>
            {% elif 'okCapsuleDelete' in request.GET %}
              <div class="alert alert-success text-center" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">
                  &times;
                </button>
                <i class="fa fa-coffee"></i>
                <strong>Has eliminado exitosamente tu cápsula!</strong>
              </div>
            {% endif %}
            <!-- Previa del avatar -->
            <div class="form-group text-center">
              {% if request.user.profile.avatar %}
                <img src="{{request.user.profile.avatar.url}}" class="img-fluid">
                <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
              {% else %}
                <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
              {% endif %}
            </div>
            <!-- Formulario -->
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <input type="file" name="avatar" class="form-control-file mt-3" id="id_avatar">
              </div>
              {{ form.bio }}
              {{ form.link }}
              {{ form.rut }}
              {{ form.birth_date }}
              {{ form.gender }}
              {{ form.marital_status }}
              {{ form.agreement }}
              {{ form.user }}
              <input type="email" value="{{request.user.email}}" class="form-control mt-3" readonly style="text-transform:none">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
                Actualizar Perfil <i class="fa fa-cog fa-spin"></i>
              </button>
            </div>
          </div>
        </form>
        <div class="form-group">
          <a href="{% url 'profile_email' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Actualizar Email <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
        <div class="form-group">
          <a href="{% url 'password_change' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Actualizar Contraseña <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
        <div class="form-group">
          <a href="{% url 'home' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Ir al Inicio <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
        {% if object.agreement == 1 and object.capsule %}
          <div class="form-group">
            <a href="{% url 'capsules:update' object.capsule.profile.id %}">
              <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
                Editar Capsula <i class="fa fa-cog fa-spin"></i>
              </button>
            </a>
          </div>
          <div class="form-group">
            <a href="{% url 'capsules:delete' object.user.profile.id %}">
              <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
                Eliminar Capsula <i class="fa fa-cog fa-spin"></i>
              </button>
            </a>
          </div>
        {% elif object.agreement == 1 %}
          <div class="form-group">
            <a href="{% url 'capsules:create' %}">
              <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
                Crear Capsula <i class="fa fa-cog fa-spin"></i>
              </button>
            </a>
          </div>
        {% endif %}
        <div class="form-group">
          <a href="{% url 'profile_delete' object.user.profile.id %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Eliminar Cuenta <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}