{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<section class="module" data-background="{% static 'core/assets/images/login_bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align:center;padding: 0% 0% 5% 0%">
        <img src="{% static 'core/assets/images/complemento_about&profiles&login.jpg' %}" width="330" style="border-radius: 100%;border-style: double;border-width: 20px;border-color: black;">
      </div>
      <div class="col-md-6 col-md-offset-3" style="text-align:center">
        <button class="btn btn-d btn-circle btn-lg col-md-6 col-md-offset-3">
          <a href="#register_menu">
            <h1 class="module-title font-alt mb-0" style="text-transform:none;font-weight:bold;font-size:180%;color:White;">
              Click aquí <br> Registrar
            </h1>
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
<hr class="divider-d mb-10">
<section id="register_menu" class="module">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="font-alt text-center" style="text-transform:none;font-weight:bold;font-size:150%;color:black;">Registrate con Social Distance</h4>
        <hr class="divider-d mb-10">
        <form class="form" action="" method="post">{% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Registrarme <i class="fa fa-cog fa-spin"></i>
            </button>
          </div>
        </form>
        <div class="form-group">
          <a href="{% url 'home' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Ir al Inicio <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
        <div class="form-group">
          <a href="{% url 'login' %}">
            <button class="btn btn-round btn-b btn-block" style="font-weight:bold;font-size:120%;color:white;">
              Ir al Acceso <i class="fa fa-cog fa-spin"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}